.search-content-01 {
    width: 100%;
    height: 50px;
    display: flex;
    background-color: white;
    margin-top: 40px;
}

.search-icon {
    background-color: white;
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon img {
        width: 40px;
        height: 40px;
        transition: all 0.1s ease;
        color: #E60023;
}

.shake-icon {
    animation-name: shake1;
    animation-duration: 0.3s;
    animation-iteration-count : 1;
}

.search-input-01 {
    border: none;
    width: 100%;
    outline: none;
    height: 50px;
    background-color: white;
    margin-top: 40px;
    padding-left: 17px;
}

@keyframes shake1 {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    50% { transform: translate(-3px, 0px) rotate(1deg); }
    /* 75% { transform: translate(3px, 2px) rotate(0deg); }  */
    /* 100% { transform: translate(1px, -1px) rotate(1deg); } */
    /* 100% { transform: translate(-1px, 2px) rotate(-1deg); } */
    /* 60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); } */
    /* 100% { transform: translate(1px, -2px) rotate(-1deg); } */
  }


@media only screen and (max-width: 600px) {

    .search-content-01 {
        height: 45px;
    }

    .search-input-01 {
        height: 45px;
    }

    
    .search-icon {
        width: 18%;
    }

    .search-input-01 {
        padding-left: 30px;
     }
    
}   