.star-outside-content2 {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    /* z-index: -1; */
}


.star-favorite {
    cursor: pointer;
    font-size: 30px;
    cursor: pointer;
    color: yellow;
    border-radius: 100%;
    animation-name: example;
    animation-duration: 0.8s;
    /* animation-iteration-count: infinite; */
}

@keyframes example {
    0%   {
            font-size: 20px; 
            color: black;
        }
    25%  {
            color: yellow; 
            font-size: 25px;
    }
    50%  {
            font-size: 25px; 
            color: yellow;
            padding: 10px 10px 10px 10px;
            border-radius: 1px solid yellow;
            box-shadow: 0 0 3px yellow;
        }
    100% {
            border: none;
            padding: 0 0 0 0;
            box-shadow: none;
            color: yellow; 
            font-size: 20px;
        }
}

.small-cirlce-1 {
    width: 3px;
    height: 3px;
    background-color: yellow;
    border-radius: 99%;
    position: absolute;
    left: 24px;
    top : 26px;
    animation-name: circleone;
    animation-duration: 0.8s;
    /* animation-iteration-count: infinite; */
    visibility: hidden;
}

@keyframes circleone {
    0% {
        visibility: visible;
        top: 1px;
        /* left: 23px; */
    }
    50% {
        top:20px;
    }
    75% {
        top: 30px;
    }
    100% {
        visibility: hidden;
    }
}

.small-cirlce-2 {
    width: 3px;
    height: 3px;
    background-color: yellow;
    border-radius: 99%;
    position: absolute;
    left: 19px;
    top : -10px;
    animation-name: circletwo;
    animation-duration: 0.8s;
    /* animation-iteration-count: infinite; */
    visibility: hidden;
}

@keyframes circletwo {
    0% {
        visibility: visible;
        top: 10px;
        /* left: 23px; */
    }
    50% {
        top:-4px;
    }
    75% {
        top: -20px;
    }

    100% {
        visibility: hidden;
    }
}

.small-cirlce-3 {
    width: 3px;
    height: 3px;
    background-color: yellow;
    border-radius: 99%;
    position: absolute;
    left: 10px;
    top : 30px;
}

.small-cirlce-4 {
    width: 3px;
    height: 3px;
    background-color: yellow;
    border-radius: 99%;
    position: absolute;
    left: -5px;
    top : 25px;
}

.small-cirlce-5 {
    width: 3px;
    height: 3px;
    background-color: yellow;
    border-radius: 99%;
    position: absolute;
    left: -10px;
    top : -2px ;
}

